* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  /* background */
  --bg-color: #191970;
  /* text */
  --text-color: #d3d3d3;
  /* color user message */
  --main-color: #006f3c;
  /* color foreign message */
  --secondary-color: #5d76cb;
  /* color btn link */
  --btn-color: #f9a73e;
}